# Instructor Turn - 01 - Basic SQL Connection - üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd
# Path to sqlite
database_path = "./Resources/Census_Data.sqlite"

In [ ]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

In [ ]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Using the inspector to print the column names within the 'Census_Data' table and its types
columns = inspector.get_columns('Census_Data')
for column in columns:
    print(column)

In [ ]:
# Get the column names for the table
column_names = inspector.get_columns('Census_Data')
for column_name in column_names:
    print(column_name["name"])

In [ ]:
# Query All Records in the the Database
data = engine.execute("SELECT * FROM Census_Data")

for record in data:
    print(record)

In [ ]:
# Query Single Record in the the Database
data = engine.execute("SELECT CityState FROM Census_Data WHERE Population >= 1000000;")
for record in data:
    print(record)

In [ ]:
# Query Single Record in the the Database
data = engine.execute("SELECT `Household Income` FROM Census_Data;")
for record in data:
    print(record)

In [ ]:
# Read SQLite file into Pandas DataFrame

# Make a connection to the SQL database
conn = engine.connect()

# Query All Records in the the Database
census_data_df = pd.read_sql("SELECT * FROM Census_Data", conn)
census_data_df.head()

In [ ]:
# Get the CityState where the Household Income is equal to or greater than $100,000. 
census_data_df.loc[census_data_df["Hispanic Population"]>= 500000]['CityState'].values

In [ ]:
census_data_df.describe()

# Instructor Turn - 02 - Reflection - üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [ ]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///./Resources/dow.sqlite")

In [ ]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [ ]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [ ]:
# Print all of the classes mapped to the Base
Base.classes.keys()

In [ ]:
# Assign the dow class to a variable called `Dow`
Dow = Base.classes.dow

In [ ]:
# Create a session
session = Session(engine)

In [ ]:
# Display the row's columns and data in dictionary format
first_row = session.query(Dow).first()
first_row.__dict__

In [ ]:
# Use the session to query Dow table and display the first 5 trade volumes
for row in session.query(Dow.stock, Dow.volume).limit(15).all():
    print(row)

# Student Turn - 03 -Reflecting On SQL - üë©‚Äçüéìüë®‚Äçüéì

* **Instructions**:

  * Create engine using the `demographics.sqlite` database file

  * Declare a Base using `automap_base()` and use this new Base class to reflect the database's tables

  * Assign the demographics table/class to a variable called `Demographics`

  * Create a session and use this session to query the `Demographics` table and display the first five locations

* **Bonus**:

  * Query and print the number of unique locations in the table.

* **Hint**:

  * For the bonus, look into counting and grouping operations in SQLAlchemy

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///./Resources/demographics.sqlite")

In [ ]:
# Declare a Base using `automap_base()`
# YOUR CODE HERE

# Use the Base class to reflect the database tables
# YOUR CODE HERE

# Print all of the classes mapped to the Base
# YOUR CODE HERE

# Assign the demographics class to a variable called `Demographics`
# YOUR CODE HERE

# Create a session
# YOUR CODE HERE

# Use the session to query Demographics table and display the first 5 locations
# YOUR CODE HERE

# BONUS: Query and print the number of unique Locations
# Hints: Look into counting and grouping operations in SQLAlchemy
# YOUR CODE HERE

<details>
    <summary><strong>Activity 03 Solution ‚úÖ</strong></summary>
    
```python
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///./Resources/demographics.sqlite")

# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

# Print all of the classes mapped to the Base
Base.classes.keys()

# Assign the demographics class to a variable called `Demographics`
Demographics = Base.classes.demographics

# Create a session
session = Session(engine)

# Use the session to query Demographics table and display the first 5 locations
for row in session.query(Demographics, Demographics.location).limit(5).all():
    print(row)

# BONUS: Query and print the number of unique Locations
# Hints: Look into counting and grouping operations in SQLAlchemy
locations = session.query(Demographics).group_by(Demographics.location).count()
print(locations)

```
</details>

# Instructor Turn - 04 - Exploring - üë©‚Äçüè´üßë‚Äçüè´

In [ ]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table
# Using SQLAlchemy ORM to reflect and map the table

In [ ]:
# Create the connection engine
engine = create_engine("sqlite:///./Resources/dow.sqlite")

In [ ]:
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [ ]:
# Print all of the classes (tables) mapped to the Base
Base.classes.keys()

In [ ]:
# Use the inspect() function to reflect the table and get the column names.

# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [ ]:
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('dow')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
# Use the Metadata and Table object to describe the table and columns.
#  Create a meta data object to hold the reflected table schema
metadata = MetaData()

In [ ]:
# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 
table = Table('dow', metadata, autoload=True, autoload_with=engine)

# Get the column names using the 'keys()' method on the column object. 
table.columns.keys()

table.columns.stock

In [ ]:
# Use SQL to query the table.
# Use SQL to query 'all' the records in the the Database 
data = engine.execute("SELECT * FROM dow")

for record in data:
    print(record)

In [ ]:
# Use SQL to get all the unique stocks.
engine.execute('SELECT DISTINCT Stock FROM dow').fetchall()

# Use Python to query the table.

# Assign the dow class to a variable called `Dow`
Dow = Base.classes.dow
Dow

In [ ]:
# Create a session
session = Session(engine)

# Print all the stocks. 
for stocks in session.query(Dow.stock).all():
    print(stocks)

In [ ]:
# Print all the unique stocks. 
for stocks in session.query(Dow.stock).distinct():
    print(stocks)

# Student Turn - 05 - Salary Explore  - üë©‚Äçüéìüë®‚Äçüéì 

# Instructions:

* Using the attached SQLite file, do the following:

  * Use SQLAlchemy ORM to reflect and map the table. 

  * Use the `inspect()` function to get the column names and types.

  * Use the `Metadata` and `Table` object to get the column names.

  * Use SQL commands to get all the records in the the table.

  * Use SQL commands to get all the job titles where the Total Pay is greater than or equal to $250,000.
  
  * Use Python to get all the job titles where the Total Pay is greater than or equal to $250,000.

---

In [ ]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

### Using SQLAlchemy ORM to reflect and map the table¬∂

# Create the connection engine
engine = create_engine("sqlite:///./Resources/database.sqlite")
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [ ]:
# Print all of the classes mapped to the Base
Base.classes.keys()

In [ ]:
### Use the inspect() function to reflect the table and get the column names.

# Create the inspector and connect it to the engine


# Using the inspector to print the column names within the table and its types

In [ ]:
### Use the Metadata and Table object to describe the table and columns.

#  Create a meta data object to hold the reflected table schema


# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 

# Get the column names using the 'keys()' method on the column object. 


### Use SQL to query the table. 

# Get 'all' the records in the the table


# Get all the job titles where the Total Pay is greater than or equal to $250,000.


### Use Python to query the table. 

# Assign the class to a variable


# Create a session


# Get all the job titles where the Total Pay is greater than or equal to $250,000.


# Get all the job titles in the Police department where the Total Pay is greater than or equal to $250,000.

Use the Metadata and Table object to describe the table and columns.

<details>
    <summary><strong>Activity 05 Solution ‚úÖ</strong></summary>
    
```python

# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

### Using SQLAlchemy ORM to reflect and map the table¬∂

# Create the connection engine
engine = create_engine("sqlite:///./Resources/database.sqlite")
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

# Print all of the classes mapped to the Base
Base.classes.keys()

### Use the inspect() function to reflect the table and get the column names.

# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Using the inspector to print the column names within the table and its types
columns = inspector.get_columns('Salaries')
for column in columns:
    print(column["name"], column["type"])

### Use the Metadata and Table object to describe the table and columns.

#  Create a meta data object to hold the reflected table schema
metadata = MetaData()

# Create a table object and use 'autoload' and 'autoload_with' to define the columns from the table. 
table = Table('salaries', metadata, autoload=True, autoload_with=engine)

# Get the column names using the 'keys()' method on the column object. 
table.columns.keys()

### Use SQL to query the table. 

# Get 'all' the records in the the table
data = engine.execute("SELECT * FROM Salaries")

for record in data:
    print(record)

# Get all the job titles where the Total Pay is greater than or equal to $250,000.
job_titles = engine.execute("SELECT DISTINCT JobTitle FROM Salaries WHERE TotalPay >= 250000")

for job_title in job_titles:
    print(job_title)

### Use Python to query the table. 

# Assign the class to a variable
Salaries = Base.classes.Salaries
Salaries

# Create a session
session = Session(engine)

# Get all the job titles where the Total Pay is greater than or equal to $250,000.
jobs = session.query(Salaries.JobTitle).filter(Salaries.TotalPay >= 250000)
for job in jobs:
    print(job)

# Get all the job titles in the Police department where the Total Pay is greater than or equal to $250,000.
jobs = session.query(Salaries.JobTitle).filter(Salaries.JobTitle.like('%POLICE%')).filter(Salaries.TotalPay >= 250000)
for job in jobs:
    print(job)

```
</details>

# Instructor Turn - 06 - Dates - üë©‚Äçüè´üßë‚Äçüè´

# SQLAlchemy, Sqlite, and Dates

## Setup

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [ ]:
engine = create_engine("sqlite:///./Resources/dow.sqlite", echo=False)

## Explore Database

In [ ]:
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Get a list of column names and types
columns = inspector.get_columns('dow')
for c in columns:
    print(c['name'], c["type"])
# columns

In [ ]:
engine.execute('SELECT * FROM dow LIMIT 5').fetchall()

## Reflect and query dates

In [ ]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Dow = Base.classes.dow

In [ ]:
session = Session(engine)

How many dates do we have?

In [ ]:
# Total dates
session.query(func.count(Dow.date)).all()

What is the earliest date?

In [ ]:
# Earliest Date
session.query(Dow.date).order_by(Dow.date).first()

What is the latest date?

In [ ]:
# Latest Date
session.query(Dow.date).order_by(Dow.date.desc()).first()

Find all of the dates great than `2011-03-01`

In [ ]:
session.query(Dow.date).\
    filter(Dow.date > '2011-03-01').\
    order_by(Dow.date).all()

### Important Note! Sqlite does not support a date column type, but SQLAlchemy will allow you to work with dates in the iso format. [sqlite dates](http://docs.sqlalchemy.org/en/latest/dialects/sqlite.html)

# Quick Review of DateTime

In [ ]:
import datetime as dt

In [ ]:
# Print today's date 
print(dt.date.today())
# Print a specific date 
print(dt.date(2017,10 ,8))

In [ ]:
# Print a datetime object 
print(dt.datetime.utcnow())
print(dt.datetime(2017,10 ,8))

Calculate a time delta

In [ ]:
# The date 9 weeks ago from today. 
week_ago = dt.date.today() - dt.timedelta(days=63)
week_ago

In [ ]:
# The number of days between two datetime objects ‚Äì When the next solar eclipse will be and today.
a = dt.datetime(2023, 10, 14) 
b = dt.datetime.utcnow()
  
# returns a timedelta object 
c = a-b  
print(c)

Query for the Dow closing price 1 week before `2011-04-08` using the datetime library

In [ ]:
# Query for the Dow closing price for `CSCO` 1 week before `2011-04-08` using the datetime library
query_date = dt.date(2011, 4, 8) - dt.timedelta(days=7)
print("Query Date: ", query_date)

In [ ]:
session.query(Dow.date, Dow.close_price).\
    filter(Dow.stock == 'CSCO').\
    filter(Dow.date == query_date).all()

In [ ]:
# Parse out just the day from the datetime object
dt.date.today().strftime("%d")

Putting it all together

In [ ]:
# Query for all stocks, their opening and closing price that match
# following date string in the format `%d`
date_str = "14"
session.query(Dow.date, Dow.stock, Dow.open_price, Dow.close_price).\
    filter(func.strftime("%d", Dow.date) == date_str).all()

## Your Turn!

# Everyone Turn - 07 - Dates - üë©‚Äçüè´üßë‚Äçüè´

# SQLAlchemy, Sqlite, and Dates

## Setup

In [ ]:
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [ ]:
engine = create_engine("sqlite:///./Resources/dow.sqlite", echo=False)

In [ ]:
engine.execute('SELECT * FROM dow LIMIT 5').fetchall()

In [ ]:
inspector = inspect(engine)
columns = inspector.get_columns('dow')
for c in columns:
    print(c['name'], c["type"])

## Reflect and query dates

In [ ]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Dow = Base.classes.dow

In [ ]:
session = Session(engine)

## Analysis

Analyze the Average prices (open, high, low, close) for all stocks in the Month of May

In [ ]:
# Query for the stock and average prices (open, high, low, close) 
# for all stock in the month of May
# Sort the result by stock name
sel = [Dow.stock, 
       func.avg(Dow.open_price), 
       func.avg(Dow.high_price), 
       func.avg(Dow.low_price), 
       func.avg(Dow.close_price)]
may_averages = session.query(*sel).\
    filter(func.strftime("%m", Dow.date) == "05").\
    group_by(Dow.stock).\
    order_by(Dow.stock).all()
may_averages

In [ ]:
# Plot the Results in a Matplotlib bar chart
df = pd.DataFrame(may_averages, columns=['stock', 'open_avg', 'high_avg', 'low_avg', 'close_avg'])
df.set_index('stock', inplace=True)
df.plot.bar()
plt.tight_layout()
plt.show()

### Bonus
Calculate the high-low peak-to-peak (PTP) values for `IBM` stock after `2011-05-31`. 
* Note: high-low PTP is calculated using `high_price` - `low_price`
* Use a DateTime.date object in the query filter
* Use a list comprehension or numpy's ravel method to unpack the query's list of tuples into a list of PTP values.
* Use matplotlib to plot the PTP values as a boxplot

In [ ]:
# Design a query to calculate the PTP for stock `IBM` after May, 2011
import datetime as dt
import numpy as np

date = dt.datetime(2011, 5, 31)

results = session.query(Dow.high_price - Dow.low_price).\
    filter(Dow.date > date).filter(Dow.stock == 'IBM').all()
    
ptps = list(np.ravel(results))

# List Comprehension Solution
# ptps = [result[0] for result in results]

ptps

In [ ]:
# Load the query into a dataframe, set the index to the date, and plot the ptps

fig, ax = plt.subplots()

x = range(len(ptps))
ax.boxplot(ptps, patch_artist=True)
ax.set_title('IBM PTPs')
fig.tight_layout()
plt.show()

DataSet Citation: 

Brown, M. S., Pelosi, M. & Dirska, H. (2013). Dynamic-radius Species-conserving Genetic Algorithm for 
the Financial Forecasting of Dow Jones Index Stocks. Machine Learning and Data Mining in Pattern 
Recognition, 7988, 27-41.